[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-alembic = "*"
requests-html = "*"
"psycopg2-binary" = "*"
gunicorn = "*"


[requires]

python_version = "3.6"
